@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Modified from style "Search bar - Auto-size" by banthaz */

#search-container .searchbar-textbox {
	min-width: 60px !important;
	overflow: hidden !important;
	transition: min-width 100ms 100ms ease-out !important;
}

#search-container:hover .searchbar-textbox,
#search-container .searchbar-textbox[focused] {
	min-width: 250px !important;
}

#search-container:hover .searchbar-textbox {
	transition-delay: 300ms !important;
}

#search-container .searchbar-textbox[focused] {
	transition: none !important;
}

#navigator-toolbox:not([customizing]) #search-container {
	max-width: 0 !important;
}

#urlbar-search-splitter {
	display: none !important;
}

/* Modified from style ¦¦¦¦Unified Url+Search bar [hover Splitter]¦¦¦¦ v1.5 by frog*/

#nav-bar #urlbar {
	margin-right: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

#nav-bar #urlbar-search-splitter:not(:hover) + #search-container .searchbar-textbox {
	margin-left: 0 !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-left-width: 0 !important;
}

/* Style "Auto-hide Search Engine Button" by sdrocking */

#search-container .searchbar-engine-button {
	margin-left: 0 !important;
	transition: margin 100ms !important;
}

#navigator-toolbox:not([customizing]) #search-container:not(:hover) .searchbar-textbox:not([focused]) .searchbar-engine-button {
	margin-left: -32px !important;
}

#search-container:hover .searchbar-engine-button {
	transition-delay: 300ms !important;
}
